include README.md
include LICENSE.txt
include MANIFEST.in
include setup.py
include svox/svox.py
include svox/helpers.py
include svox/sh.py
include svox/renderer.py
include svox/__init__.py
include svox/version.py
include svox/csrc/include/common.cuh
include svox/csrc/include/data_spec.hpp
include svox/csrc/include/data_spec_packed.cuh
include svox/csrc/svox.cpp
include svox/csrc/svox_kernel.cu
include svox/csrc/rt_kernel.cu
include svox/csrc/quantizer.cpp
